parameters:
  #level: 2 # unknown methods checked on all expressions (not just $this), validating PHPDocs
  #level: 4 # basic dead code checking
  level: 6 # report missing typehints
  typeAliases:
    # Définition des types de GeoJSON (https://datatracker.ietf.org/doc/html/rfc7946) décodés par json_decode()
    TPos: list<float>
    TLPos: list<TPos>
    TLLPos: list<TLPos>
    TLLLPos: list<TLLPos>
    TGJBox: list<float>
    TGJPoint: "array{type: 'Point', bbox?: TGJBox, coordinates: TPos}"
    TGJLineString: "array{type: 'LineString', bbox?: TGJBox, coordinates: TLPos}"
    TGJPolygon: "array{type: 'Polygon', bbox?: TGJBox, coordinates: TLLPos}"
    TGJMultiPoint: "array{type: 'MultiPoint', bbox?: TGJBox, coordinates: TLPos}"
    TGJMultiLineString: "array{type: 'MultiLineString', bbox?: TGJBox, coordinates: TLLPos}"
    TGJMultiPolygon: "array{type: 'MultiPolygon', bbox?: TGJBox, coordinates: TLLLPos}"
    TGJSimpleGeometry: "TGJPoint|TGJLineString|TGJPolygon|TGJMultiPoint|TGJMultiLineString|TGJMultiPolygon"
    TGJGeometryCollection: "array{type: 'GeometryCollection', bbox?: TGJBox, geometries: list<TGJSimpleGeometry>}"
    TGeoJsonGeometry: TGJSimpleGeometry|TGJGeometryCollection
    TGeoJsonProperties: "array<string, mixed>"
    TGeoJsonFeature: '''
      array{type: 'Feature', id?: string, properties?: TGeoJsonProperties, bbox?: TGJBox, geometry: TGeoJsonGeometry}
      '''
    # Les champs numberReturned et totalFeatures sont ajoutés quand la collection est produite par un serveur WFS
    TGeoJsonFeatureCollection: '''
      array{
        type: 'FeatureCollection',
        bbox?: TGJBox,
        features: list<TGeoJsonFeature>,
        numberReturned?: int,
        totalFeatures?: int
      }
      '''
  paths:
    - index.php
    - dataset.inc.php
    - geojson.php
    - map.php
    - map.php
    - dataseteg.php
    - deptreg.php
    - nomscnig.php
    - aecogpe.php
    - lib/coordsys.inc.php
    - lib/gebox.inc.php
    - lib/gegeom.inc.php
    - lib/pos.inc.php
    - lib/sexcept.inc.php
    - lib/zoom.inc.php
  treatPhpDocTypesAsCertain: false

